body {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  max-width: 1024px;
  width: 100%;
}

.btn {
  padding: 10px 18px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 1.25rem;
}
.btn:not([disabled]):hover, .btn:not([disabled]):focus {
  border-color: transparent;
  background-color: #0b0098;
  color: white;
}

.center {
  text-align: center;
}

.nav {
  background-color: #00de9d;
}
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  height: 55px;
  text-decoration: none;
}
.nav li {
  margin: 0 5px;
}
.nav li:first-child {
  margin-left: 0;
}
.nav li.auth-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 0;
  margin-left: auto;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.125rem;
}
.nav li.auth-info .btn {
  padding: 5px 10px;
  font-size: 1rem;
}
.nav li > a {
  display: block;
  padding: 10px;
  border-bottom: 2px solid transparent;
  background-color: white;
  color: black;
  transition: 0.3s;
  transition-property: background-color, color, border;
}
.nav li > a:hover, .nav li > a:focus {
  border-bottom-color: #009267;
}
.nav li > a.active {
  border-bottom-color: #0b0098;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.avatar {
  margin: 0 10px;
  height: 35px;
  border-radius: 25px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page select {
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
}
.login-page .btn {
  width: 400px;
}

.dashboard-container .dashboard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.dashboard-container .dashboard-list > li {
  width: calc((100% / 3) - 10px);
}

.question-container {
  box-sizing: border-box;
  margin: 5px;
  width: 100%;
  border: 2px solid #252525;
}
.question-container .question-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #00de9d;
}
.question-container .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
